.giosave*
*.pyc
.DS_Store
._*
*.wpr
*~
*.log
/application/showcase/source/script/
/application/legacy/designer/source/script/
/application/legacy/designer2/source/script/
/framework/blueprint/source/script/
/application/designer/api/
/application/designer/source/script/
/application/designer/build/
